{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center flex-wrap flex-row text-white">
    <div class="p-2 bg-info">
<h2> Welcome to MVP Bus Management System</h2>
</div>
</div>  
  <hr>
        <form method="POST" class="post-form" action="/index/manager/updateuser/{{user_info.pk}}">
            {% csrf_token %}     
            <p><label for="id_usertype">Usertype:</label> <select name="usertype" required="" id="id_usertype">
              <option value="{{ user_info.usertype }}">---------</option>
              {% if user_info.usertype == '1' %} 
              <option value="1" selected="">agencymanager</option>          
              {% elif user_info.usertype == '2' %} 
              <option value="2" selected="">driver</option>            
              {% elif user_info.usertype == '3' %} 
              <option value="3" selected="">conductor</option> 
              {% elif user_info.usertype == '4' %}            
              <option value="4" selected="">helper</option>
              {% endif %}
            </select></p>
            <p><label for="id_first_name">First name:</label> <input type="text" name="first_name" maxlength="30" id="id_first_name" value="{{ user_info.first_name }}"></p>
            <p><label for="id_last_name">Last name:</label> <input type="text" name="last_name" maxlength="150" id="id_last_name" value="{{ user_info.last_name }}"></p>
            <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" required="" id="id_username" value="{{ user_info.username }}"> <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></p>
            <p><label for="id_email">Email address:</label> <input type="email" name="email" maxlength="254" id="id_email" value="{{ user_info.email }}"></p>
            <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
  
  {% endblock %}