{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center flex-wrap flex-row text-white">
    <div class="p-2 bg-info">
<h2> Welcome to MVP Bus Management System</h2>
</div>
</div>  
  <hr>
   {% if bus_info %}
        <form method="POST" class="post-form" action="/index/manager/editbususer/{{bus_info.pk}}">
        {% csrf_token %}
          {{form.as_p}}
          <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
    {% endif %}
    
  
  {% endblock %}